.nav_contents {
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    position: fixed;
    top: 15px;
    left: 0;
    width: 120px;
    height: 90px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}
